main {
  width: 100%;
  max-width: 600px;
  min-height: 100vh;

  margin: 0 auto;
  padding: 4rem 2rem;
}

button {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ff7979;
  font-weight: 600;
}

button:hover {
  background: #f35f5f;
}

header h1 {
  transition: letter-spacing 0.5s ease-in-out, font-size 0.5s ease-in-out;
  margin-bottom: 1rem;
}

header h1:hover {
  letter-spacing: 0.25rem;
}
